canvas {
    border: 1px solid black;
    background-color: rgba(0,0,0,.25);
}


#snake1_score_container {
    font-size: 30px;
    font-weight: bold;
    color: #8bc34a;

}

#snake2_score_container {
    font-size: 30px;
    color: #ff5722;
    font-weight: bold;

}

@font-face {
    font-family: Bladerunner;
    src: url("./BLADRMF_.TTF");
}

.title {
    font-family: Bladerunner;
    font-size: 85px;
    background: linear-gradient(180deg, rgba(242,226,221,1) 0%, rgba(233,255,52,1) 30%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

#snake1_score {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

#snake2_score {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

body {
    background-color: #374046;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #eceff1;
}

ul {
    padding-left: 15px;
    font-size: 15px;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}

.even-space {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button-start {
    background-color: #e53935;
    font-size: 21px; 
    line-height: 21px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: rgb(0, 0, 0) 3px 3px 3px 3px;
    border: none;
    display: inline-block;
}

.button-start:focus {
    background-color: transparent;
    border: 5px #e53935 solid;
}

#rules {
    display: flex;
    justify-content: left;
    flex-direction: column;
    line-height: 2;
}

#rules li {
    margin-bottom: 10px;
}

#powerups {
    display: flex;
    justify-content: left;
    flex-direction: column;
    line-height: 2;
}

#powerups li {
    margin-bottom: 10px;
}

#red-square {
    color: red;
}

#yellow-square {
    color: yellow;
}

#blue-square {
    color: #317ef9;
}

#white-square {
    color: white;
}

.bolded {
    font-weight: bolder;
}

.pts {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#score_overall_container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

