canvas {
    border: 1px solid black;
}


#snake1_score {
    font-size: 30px;
    font-weight: bold;
    color: #8bc34a;

}

#snake2_score {
    font-size: 30px;
    color: #ff5722;
    font-weight: bold;

}

body {
    background-color: #374046;
    font-family: Roboto;
    color: #eceff1;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 50px;
}

.even-space {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}

.button-start {
    background-color: #e53935;
    font-size: 21px; 
    line-height: 21px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: rgb(0, 0, 0) 3px 3px 3px 3px;
    border: none;
    display: inline-block;
}

.button-start:focus {
    background-color: transparent;
    border: 4px #e53935 solid;

}

